$main_color: #337ab7;
$main_light_color: #81b1da;
$main_lighter_color: #bad5eb;
$success_color: #5cb85c;
$light_color: lightgray;

@media (max-width: 768px){
  .navigator-title, .nav-btn{
    text-align: center;
  }
}

.wrapper{
  //border: 1px solid black;
  font-size: 16px !important;
}

.navigator{
  background-color: $main_color;
  padding: 10px 5px;
  margin-bottom: 10px;
  color: #fff !important;

  .nav-btn{
    a{
      color: #fff !important;
      background-color: $main_light_color;
      border:none;
    }

    a:hover{
      background-color: $main_lighter_color;
    }

    a.active{
      background-color: #fff;
      color: $main_color !important;
    }
  }
}

#div-search-word{
  #div-word-meaning{

    overflow-y: auto;
    //border: 1px solid black;
    .div-word-type{
      border-bottom: 1px solid lightgray;
      margin-bottom: 10px;
      padding-bottom: 5px;
      font-size: 16px;

      .word-type{
        font-weight: bold;
        color: darkblue;
        margin: 10px 0 0 0 ;
      }

      .word-type:before{
        content: '★ ';
        color: #d70000;
      }

      .word-mean{
        margin: 5px 0 5px 25px;
      }

      .word-mean:before{
        content: '⧉  ';
        color: $success_color;
      }

      .word-example:before{
        content: '▪ ';
        color: chocolate;
      }

      .word-example{
        color: chocolate;
        font-size: 14px;
        margin: 0 0 0 50px;
      }

      .translate{
        color: $light_color;
      }

      .translate:before{
        content: ' → ';
      }
    }

    .div-word-type:last-child{
      border-bottom: none;
    }
  }
}

#inp-search-result{
  overflow: auto;
}

#div-show-word{
  h3{
    a, a:hover{
      color: $light_color;
      text-decoration: none;
    }
    #pronunciation{
      font-family: "Segoe UI";
    }
  }
}

#div-show-all-word{
  overflow: auto;
  font-size: 16px;
  h3{
    border-bottom: 1px solid $main_color;
  }
  a{
    color: black !important;
    text-decoration: none;
    transition: text-shadow 0.25s;
  }

  a:hover{
    text-shadow: 0 0 2px $success_color;
  }

  a:before{
    content: '★  ';
    color: $success_color;
  }

  .word-start-with-char{
    margin: 5px 0;
  }
}

.close:before{
  content: '' !important;
}

.explanation{
  border: 1px solid $main_color;
  border-radius: 5px;
  padding: 10px;
  margin: 0px;

  input{
    margin-bottom: 5px;
  }
}

.row{
  margin-bottom: 10px;
}

.div-article{
  .article{
    margin-bottom: 10px;
    padding: 10px 0;

    a.article-title{
      font-size: 20px;
      text-decoration: none !important;
      color: darkgreen;
    }

    a.article-title:before{
      content: '★ ';
      color: darkred;
    }
  }
}

#div-add-article{
  .nicEdit-main{
    resize: none;
    min-height: 250px !important;
    max-height: 250px !important;
    overflow-y: scroll !important;
  }
}